*{
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    @font-face {
        font-family:IranianSans ;
        src: url(../css/font/IRANSansXDemiBold.ttf);
    }
}
body{
    font-family: IranianSans !important;
}
[lang="fa-IR"]{
    direction: rtl !important;
}
.rtl{
    direction: rtl !important;
}
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
}

img{
    max-width: 100% !important;
}